---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Ollebergkvist.com | Fullstack Developer">
  <section class="mx-auto flex h-screen items-center justify-center px-4">
    <h1 class="font-press text-2xl lg:text-4xl">COMING SOON...</h1>
  </section>
</Layout>
