---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
			<meta name="generator" content={Astro.generator} />

		 <!-- FlAMETHROWER STARTS -->
		 <script>
			import flamethrower from 'flamethrower-router'
			flamethrower({ log: import.meta.env.DEV, pageTransitions: false, prefetch: 'visible' })
		  </script>
		  <!-- FLAMETHROWER ENDS -->

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

